 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgba(0,0,0,0.72);
    --secondary: rgba(0,0,0,0.72);
}

.full-page{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, var(--primary), var(--secondary)), url(image/our-values-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*.container{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
}*/
nav{
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: rgb(22, 22, 78); 
    
     
}

nav ul {
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    font-size: 19px;
    text-decoration: none;
    font-family: 'Times New Roman';
    color: white;
    margin-left: 90px;
}
/*
nav ul li.dropdown li{
    display: block;   
}
nav ul li.dropdown{
    width: 100%;
    background: rgb(22, 22, 78); 
    position: absolute;
    z-index: 999;
    display: none;
    
}
ul li:hover ul.dropdown{

}
nav ul li a:hover{
    color:aqua;
}*/
nav img{
    width: 200px;
}
.btn-1{
    width: 90px;
    border-radius: 20px;
    background-color: red;
    color: white;  
    border: none; 
    padding: 10px;
    margin-left: 100px;
    text-align: center;


}
.btn{
    border:none;
    color: white;
    padding: 20px;
    margin-left: 40px;
    margin-right: 10px;
    background-color:  rgb(22, 22, 78);
}
.row{
    display: flex;
    justify-content: space-between;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.text{
    padding-top:190px ;
}
.col-1{
    margin-left: 90px;
}
.col-1 h1{
    font-size: 70px;
    color: white;
    font-family: 'Times New Roman';
    
}
p{
    font-family: 18px;
    font-family: 'Times New Roman';
    color: white;
}

.categories{
    background: none;
    border-color: blueviolet;
    color: blueviolet;
    border-radius: 15px;
    padding: 10px;
}
.col-2{
    background: rgb(22, 22, 78);
    border-radius: 10px;
    width: 40%;
    height: 100%;
    margin-right: 90px;
    padding:50px;
}
h1{
    color: white;
}
.form-1{
    padding-left: 10px;
}
.form-1 input{
    border: 1px solid  rgb(22, 22, 78);
    background: white;
    border-radius: 15px;
    outline: none;
    width: 40%;
    height: 30px;
    margin-top: 15px;
    padding-right:  30px;
    font-size:18px;
    text-align: center;
}
.form-1 input::placeholder{
    color: rgba(34,67,140, 0.61);
    position: absolute;
    left: 30px;
}
.form-1 .icon{
    position: absolute;
    padding-top: 22px;
    padding-left: 10px;
    line-height: 10px;
}
.btn3{
    width: 100%;
    height: 100%;
    background: rgb(19, 19, 165);
    border: none;
    font-size: 18px;
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    padding: 10px;
}
.text button{
    border-radius: 15px;
} 
.hero-section{
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;

     
}
.hero-section h1{
      color: black;
}
/*.hero-section-text .custom-btn{
display: inline-block;
text-decoration: none;
color:rgb(161, 88, 230);
width: 100px;
height: 100px;
line-height: 100px;
text-align: center;
border-radius: 50%;
border: solid 2px rgb(75, 73, 73);
font-weight: bold;
vertical-align: middle;
overflow: hidden;
margin-left: 45%;

}
.row2.hero-section-text{
    display: flex;
    align-items: center;
}*/


/*--------------page 2-----------*/
.cat{
    padding: 10px 25px;
    width: 80%;
    height: 80%;
}
.hero{
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     color:black;
}
.hero a{
    height: 120px;
    width: 120px;
    background-color:rgb(107, 36, 173);
    text-align: center;
    margin: 10px;
     border-width: 4px;
    border: 4px;
    border-color: rgb(41, 2, 41);
    border-radius: 50%;
    line-height: 110px;
    border-style: solid;
    margin-top: 10px;
    /*box-shadow: 1px 4px 2px 2px #dcdded;*/

}

/*--------------page 3-----------*/
section h1{ 
    color: black;
    padding-top: 20px;
    margin-top: 20px;
    align-items: center;
}
i{
    align-items: center;
}
.hero a i{
    
    top: 50%;
}
a i{
    flex-direction: row;
}
span{
    font-weight: 20px;
} 
.col-3{
    background: rgb(22, 22, 78);
    border-radius: 10px;
    width: 35%;
    height: 100%;
    margin-right: 90px;
    padding:50px;
    margin-left: 32px;
}

/*--------------page 4-----------*/
.jion{
    width: 100%;
    height: 100%;
    background: rgb(212, 209, 209);
    border-radius:10px ;

}
.recent{
    width: 100%;
    min-height: 100vh;
    background: rgb(212, 209, 209);
    display: flex;
    align-items: center;
    
  /*  justify-content: center;*/
    padding-left: 20px;

    
}
.profile-card{
    width: 90%;
    max-width: 450px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    color: #333; 
    margin-left: 30px;
   
}
.pic{
    display: block;
    width: 100%;
    border-radius: 6px;
}
.profile-card h1{
    color: black;
}
input{
    border: none;
    font-size: 16px;
}
.profile-card-1{
    width: 90%;
    max-width: 450px;
    text-align: center;
    background: white;
    border-radius: 10px;
    color: #333; 
      
}
i{
    color: rgb(77, 4, 77);
}
.jion h2{
    margin-left: 0;
}
.jion p{
    margin-top: 40px;
}

.Gotto{
    margin-top:70px;
    margin-left: 50px ;
    margin-right: 50px;
    
}
.col-4{
    width: 50%;
    max-height: 100%;
    background:  blueviolet;
    margin-left: 40px;
    margin-right: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;

}
.col-4 h1{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman';
    text-align: center;
    
}
.col-4 p{
    color: rgb(168, 164, 164);
    font-size: 18px;
    font-family: 'Times New Roman';
    text-align: center;
    
}
.col-4 input{
    border: none;
    background: blueviolet;
    font-size: 20px;
    font-family: 'Times New Roman';
    color: white;
    text-align: center;
    margin-top: 10px;
}
.col-5 img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 40px;
    margin-left: 2px;
}

/*--------------page 6-----------*/

.over{
    width: 100%;
    height:80vh;
    background: linear-gradient(rgb(172, 67, 67, 0.7),rgb(172, 67, 67, 0.7)),url(image/people.jpeg);
    background-position: center;
    background-size: center;
    position: relative;
    margin-top: 30px;
    align-items: center;
}
.col-6{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}
.col-6 h1{
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: 700;
}
.col-6 p{
    color: #b1afaf;
    font-size: 20px;
    font-family: 'Times New Roman';
}
.col-7{
    margin-top: 250px;
    margin-left: 50px;
    margin-right: 50px;

}
.btn-5{
    background: rgb(172, 67, 67, 0.7);
    color: white;
    border-radius: 30px;
    border-color: white;
    padding: 13px;
}
.btn-5 a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
} 

/*--------------page 7-----------*/
.recent-1{
    width: 100%;
    min-height: 100vh;
    background: rgb(212, 209, 209);
    display: flex;
    align-items: center;
    
  /*  justify-content: center;*/
    padding-left: 20px;
    margin-top: 20px;
}
.col-12{
    padding-left: 70px; 
    
}
.col-12  p{
  color:black;
  
}

 

